*{
    margin: 0;
    padding: 0;
}

main{
    @include flexBox(center,space-around,row,wrap);
    background-image: $backgroundImage;
    background-position: center;
    background-repeat:repeat-y repeat-x;
    font-family: $roboto;
    color: $mainTextColor;
}

.catalogoPag {
    @include flexBox(center,center,row,wrap);
    gap:30px;
    background-color: $secondaryColor;
    width: 80%;
    margin-bottom: 20px;
}

.buscador{
    @include flexBox(center,center,row,nowrap);
    padding-top: 20px;
    label{
        @include text($mainColor,$textL,bolder,normal,start);
    }

    input{
        width: 60vw;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        font-size: $textMd;
    }
}

.btn-comprar{
    padding:10px;
    width:14vw;
    background-color: rgb(235, 233, 233);
    border-radius: 5px;
    border: none;
    @include text($mainSecond,1rem,$weightXl,normal,center);
    transition: background-color 0.3s ease;
}

.btn-comprar:hover{
    background-color: #b4b3b3;
    transform: scale(1.05);
}


.card-basic{
    @include flexBox(center,center,column,nowrap);
    width: 100%;
    height: auto;
    cursor: pointer;
    @include text($mainTextColor,$textL,$weightXl,italic,center);
    img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    div{
        padding: 20px;
        background-color: $mainSecond;
        width: 100%;
    }
    
}

.productos{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.producto{
    width:100%;
    height: auto;
    margin: 20px 0;
    border-radius: 0 0 30px 30px;
    background-color: $mainColor;
    cursor: pointer;

    img{
        object-fit: cover;
        width: 100%;
    }
}

.tituloProducto{
    @include flexBox(center, center, row,nowrap);
    width: 100%;
    padding:10px;
    h3{
        @include text($mainTextColor,$textL,$weightXl,normal,start);
        padding: 0 30px;
    }
}

.descripcionProducto{
    @include flexBox(center,flex-start,column,nowrap);
    width: 100%;
    height: 150px;
    margin-top: -15px;
    p{
        @include text($mainTextColor,$textMd,$weightXl,italic,start);
        padding: 0 30px;
        margin: 5px 0;
    }
}

.btnCompra{
    padding-bottom:20px;
    @include flexBox(center,center,row,nowrap);
}