.contenedorBienvenida{
    h2{
        @extend h1;
        font-size: $textXl;
    }
    p{
        @extend h1;
        align-self: start;
        font-size: $textL;
        font-style: oblique;
    }
}

.grande{
    @extend .seccion;
    width: 80%;

    h3{
        @include text($mainTextColor,$textXl,0,normal,start);
        font-family: $lilita;
    }
}