.inicio {
    display: grid;
    width: 100%;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(390px,1fr)
    );
}


.contenedorBienvenida{
    display: grid;
    grid-row: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: $mainColor;
    padding: 2vh 2vw;
    width: 100%;
    height: auto;
    border: 3px solid rgb(45, 45, 45);

    h1{
        @include text($mainTextColor,$textXxl,$weightXl,italic,center);
    }

    img{
        width: 30%;
    }

}

.catalogosInicio{
    @include flexBox(center,center,column,nowrap);
    width:100%;
}

.seccion{
    @include flexBox(flex-start,center,row,wrap);
    background-color: $mainColor;
    width: 90%;
    margin-top: 20px;
    padding: 1vh 1vw;

    h3{
        padding: 0 30px;
        @include text($mainTextColor,$textXl,$weightXl,italic,start)
    }
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 10px;
    background-color: $secondaryColor;
    width: 90%;
    margin-bottom: 2vh;
    padding:20px;
    
}