
@media (max-width:480px){
    .buscador{
        input{
            width: 50vw;
            font-size: $textMd;
        }
    }
}

@media (max-width:992px){
    .textoContacto{
        h2{
            font-size: $textXl;
            margin-bottom: 5px;
        }

        h3{
            font-size: $textMd;
        }

        margin:10px;

    }
    .sucursalyRedes{
        font-size: 0.8em;
    }
    .sucursalyContacto{
        flex-flow: row wrap;

    }
    .redes{
        flex-direction: column;
        align-items: end;
        justify-content: center;
        img{
            width: 4vw;
            margin-bottom: 10px;
        }
    }
}