// colors & backgrounds

$mainColor: #212121;
$mainSecond: rgb(26, 24, 24);
$secondaryColor: #eeeeee;
$hoverColor : #b1aaaa;
$mainTextColor: #fafafa;
$backgroundImage: url("../img/patitas.png");

// fuentes

$roboto: 'Roboto', sans-serif;
$lilita: 'Lilita One', cursive;

// textSize

$textSm: 0.5em;
$textMd: 1em;
$textL: 1.3em;
$textXl: 2em;
$textXxl: 3em;

$weightSm: 200;
$weightMd: 500;
$weightXl: 700;

// margin & padding

$contentMargin: 30px 10px;
$contentPaddingMd: 3vh 3vw;